
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* header bg-images*/

.hero-image{
    background-image: url('../Assets/Hero-bg.png');
    
}
/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-size: 16px;
    font-weight: bold;

}
.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #221bda;
}

/*hero section style*/

.hero-section{
    margin: 80px 267px 50px 267px;
}
.hero-title{
    text-align: center;
    padding: 200px 0px 200px 0px;
}
.head-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}

/*banner section style*/

.banner{
    display: flex;
    margin: 110px 150px;
    justify-content: space-between;
    justify-items: center;
}
.banner-title{
    color: #252432;
    font-size: 42px;  
    font-weight: bold;
    padding-top: 20px;  
}
.banner-descrip{
    font-size: 20px;
    font-weight: 300;
    color: #a09e9e;
    margin-top: -20px;
  
}
.banner-img{
    border-radius: 40px;
}

/*users productivity style*/

.active-users{
    background-color: #e0e0f8;
    margin: 130px 150px;
    border-radius: 20px;
}
.heading{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 60px;
}
.productive-users{
    gap: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.productive-activity{
    margin-bottom: 80px;
    padding: 0px 20px 0px 20px;
}
.users{
    font-size: 85px;
    font-weight: bold;
    color: #4E47FF;
}
.description{
    font-size: 20px;
    font-weight: 400;
    color: #959595;
    text-align: center;
    margin-top: -55px;
}

/* focus section style*/

.focus-section{
    background-color: #f5f5fc;
    margin: 40px 150px;
    border-radius: 10px 30px 30px 30px;
}
.focus-heading{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #252432;
    margin-top: -10px;
    padding-top: 60px;  
}
.focus-description{
    font-size: 16px;
    color: #8d8b8b;
    margin-top: -20px;
    line-height: 16pt;
    text-align: center;
}
.focus-item{
    text-align: center;
    padding: 20px;
}
.focus-img{
    padding: 20px 0px 50px 0px;

}

/* input field style */

.section-field{
    display: flex;
    background-color: #ffffff;
    padding: 40px 150px;
    gap: 100px;
    justify-items: center;
}
.title{
    font-size: 80px;
    font-weight: 700; 
}
.section-colum{
    width: 50%;
    padding-top: 60px;
}
.section-colum2{
    width: 50%;
    margin: 50px;
}
 form input[type="email"],form input[type="text"],form textarea{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(247, 245, 245);
    display: block;
    font-size: 16px;
    padding: 15px 25px;
    margin:5px 0px 5px 0px ;
    border:1px solid rgb(201, 200, 200);
}


/* footer section style*/

.footer-section{
    background-color: #f7f7fb;
    padding: 0px 0px 30px 0px;
}
.footer-item{
    text-align: center;
    padding: 60px;

}
.footer-heading{
    text-align: center;
    font-size: 95px;
    font-weight: bold;
    color: #4E47FF;
}
.footer-description{
    margin-top: -60px;
    font-size: 16px;
    color: #8d8b8b;
    line-height: 16pt;
    text-align: center;
}
.menu ul li{
    list-style: none;
    display: inline;
    margin-right: 25px;
}
.menu ul li a{
    text-decoration: none;
    color:#8d8b8b ;
}
.menu ul li a:hover{
    color: #5473f0;
}